openapi: 3.1.0
info:
  title: RotaStellar API
  description: |
    API for orbital compute infrastructure - from planning tools to runtime execution.

    ## Authentication

    All API requests require a Bearer token in the Authorization header:

    ```
    Authorization: Bearer rs_your_api_key
    ```

    ## Base URL

    ```
    https://api.rotastellar.com/v1
    ```
  version: "1.0.0"
  contact:
    name: RotaStellar Support
    url: https://rotastellar.com/contact/
    email: api@rotastellar.com
  license:
    name: Proprietary
    url: https://rotastellar.com/terms/

servers:
  - url: https://api.rotastellar.com/v1
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Planning
    description: Feasibility analysis, thermal modeling, latency simulation
  - name: Intelligence
    description: Satellite tracking, conjunction analysis, pattern detection
  - name: Runtime
    description: Orbit-aware scheduling, adaptive inference, resilient compute (Coming Q2 2026)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: API key prefixed with `rs_`

  schemas:
    Position:
      type: object
      properties:
        lat:
          type: number
          description: Latitude in degrees
          example: 41.264
        lon:
          type: number
          description: Longitude in degrees
          example: -95.123
        altitude_km:
          type: number
          description: Altitude in kilometers
          example: 420.5
        velocity_km_s:
          type: number
          description: Velocity in km/s
          example: 7.66
        timestamp:
          type: string
          format: date-time
          description: Position timestamp
          example: "2026-01-21T12:00:00Z"

    Orbit:
      type: object
      properties:
        epoch:
          type: string
          format: date-time
        period_min:
          type: number
          description: Orbital period in minutes
          example: 92.9
        inclination_deg:
          type: number
          description: Inclination in degrees
          example: 51.64
        raan_deg:
          type: number
          description: Right ascension of ascending node
        arg_perigee_deg:
          type: number
          description: Argument of perigee
        eccentricity:
          type: number
          description: Orbital eccentricity
          example: 0.0002
        mean_anomaly_deg:
          type: number
        apogee_km:
          type: number
          description: Apogee altitude in km
          example: 422
        perigee_km:
          type: number
          description: Perigee altitude in km
          example: 418

    Satellite:
      type: object
      properties:
        id:
          type: string
          description: NORAD catalog ID
          example: "25544"
        name:
          type: string
          description: Satellite name
          example: "ISS (ZARYA)"
        names:
          type: array
          items:
            type: string
          description: Alternative names
        type:
          type: string
          enum: [PAYLOAD, ROCKET_BODY, DEBRIS]
        operator:
          type: string
          example: "NASA/Roscosmos"
        constellation:
          type: string
          example: "Starlink"
        launch_date:
          type: string
          format: date
        position:
          $ref: '#/components/schemas/Position'
        orbit:
          $ref: '#/components/schemas/Orbit'

    Conjunction:
      type: object
      properties:
        id:
          type: string
          example: "conj_abc123"
        tca:
          type: string
          format: date-time
          description: Time of closest approach
        primary:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            operator:
              type: string
        secondary:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            type:
              type: string
        miss_km:
          type: number
          description: Predicted miss distance in km
          example: 0.45
        probability:
          type: number
          description: Collision probability
          example: 2.3e-5
        risk_level:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        relative_velocity_km_s:
          type: number
          example: 14.2
        geometry:
          type: object
          properties:
            radial_km:
              type: number
            in_track_km:
              type: number
            cross_track_km:
              type: number

    Pattern:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [maneuver, anomaly, proximity, operational]
        subtype:
          type: string
        timestamp:
          type: string
          format: date-time
        confidence:
          type: number
          minimum: 0
          maximum: 1
        description:
          type: string
        details:
          type: object

    FeasibilityResult:
      type: object
      properties:
        viable:
          type: boolean
        recommendation:
          type: string
        orbit:
          type: object
          properties:
            type:
              type: string
            altitude_km:
              type: number
            inclination_deg:
              type: number
            constellation_size:
              type: integer
        cost:
          type: object
          properties:
            monthly:
              type: number
            setup:
              type: number
            currency:
              type: string
        power:
          type: object
          properties:
            required_kw:
              type: number
            solar_array_m2:
              type: number
            battery_kwh:
              type: number
        latency:
          type: object
          properties:
            p50_ms:
              type: number
            p95_ms:
              type: number
            p99_ms:
              type: number
        risks:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              severity:
                type: string
              description:
                type: string

    ThermalResult:
      type: object
      properties:
        steady_state_c:
          type: number
        max_temp_c:
          type: number
        min_temp_c:
          type: number
        margin_c:
          type: number
        eclipse_duration_min:
          type: number
        sunlit_duration_min:
          type: number
        recommendations:
          type: array
          items:
            type: string

    LatencyResult:
      type: object
      properties:
        p50_ms:
          type: number
        p95_ms:
          type: number
        p99_ms:
          type: number
        min_ms:
          type: number
        max_ms:
          type: number
        coverage_percent:
          type: number

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

    GroundStation:
      type: object
      properties:
        id:
          type: string
          example: "gs_svalbard"
        name:
          type: string
          example: "Svalbard"
        lat:
          type: number
          example: 78.23
        lon:
          type: number
          example: 15.39
        provider:
          type: string
          example: "KSAT"
        capabilities:
          type: array
          items:
            type: string
          example: ["s-band", "x-band", "ka-band"]

    VisibilityResult:
      type: object
      properties:
        satellite_id:
          type: string
        satellite_position:
          $ref: '#/components/schemas/Position'
        ground_stations:
          type: array
          items:
            type: object
            properties:
              station:
                $ref: '#/components/schemas/GroundStation'
              visible:
                type: boolean
              elevation_deg:
                type: number
              slant_range_km:
                type: number
              azimuth_deg:
                type: number
        visible_count:
          type: integer
        total_stations:
          type: integer

    SatelliteFeasibilityResult:
      type: object
      properties:
        satellite:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            altitude_km:
              type: number
            inclination_deg:
              type: number
            period_min:
              type: number
        feasibility:
          type: object
          properties:
            score:
              type: integer
              minimum: 0
              maximum: 100
            grade:
              type: string
              enum: [A, B, C, D]
            viable:
              type: boolean
        orbital_environment:
          type: object
          properties:
            eclipse_fraction:
              type: number
            sunlit_minutes_per_orbit:
              type: number
            thermal_cycle_stress:
              type: string
            radiation_level:
              type: string
        power_budget:
          type: object
          properties:
            avg_power_available_w:
              type: number
            eclipse_power_w:
              type: number
            peak_solar_w:
              type: number
        thermal_budget:
          type: object
          properties:
            max_temp_c:
              type: number
            min_temp_c:
              type: number
            safe_operating_range_c:
              type: array
              items:
                type: number
        communication:
          type: object
          properties:
            passes_per_day:
              type: integer
            avg_pass_duration_min:
              type: number
            daily_contact_min:
              type: number
            round_trip_latency_ms:
              type: number
        issues:
          type: array
          items:
            type: string
        recommendations:
          type: array
          items:
            type: string

    SatelliteLatencyResult:
      type: object
      properties:
        satellite:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            altitude_km:
              type: number
        observer:
          type: object
          properties:
            lat:
              type: number
            lon:
              type: number
        direct_link:
          type: object
          properties:
            slant_range_km:
              type: number
            propagation_delay_ms:
              type: number
            one_way_latency_ms:
              type: number
            round_trip_latency_ms:
              type: number
        ground_relay:
          type: object
          nullable: true
          properties:
            station:
              type: string
            total_latency_ms:
              type: number
        comparison:
          type: object
          properties:
            terrestrial_latency_ms:
              type: number
            satellite_overhead_ms:
              type: number
            overhead_percent:
              type: number
        visible_ground_stations:
          type: integer

    Pass:
      type: object
      properties:
        aos:
          type: string
          format: date-time
          description: Acquisition of signal time
        los:
          type: string
          format: date-time
          description: Loss of signal time
        duration_min:
          type: number
        max_elevation_deg:
          type: number
        aos_azimuth_deg:
          type: number
        los_azimuth_deg:
          type: number

paths:
  /satellites/active:
    get:
      summary: Get active satellites
      description: Bulk load active satellites for visualization. Returns satellites from CelesTrak groups.
      operationId: getActiveSatellites
      tags: [Intelligence]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
          description: Maximum number of satellites to return
        - name: groups
          in: query
          schema:
            type: string
            default: "visual,stations,active"
          description: Comma-separated CelesTrak groups to fetch from
      responses:
        '200':
          description: List of active satellites with current positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Satellite'
                  count:
                    type: integer
                  groups:
                    type: array
                    items:
                      type: string
                  data_source:
                    type: string

  /ground-stations:
    get:
      summary: List ground stations
      description: Get all available ground stations in the network
      operationId: listGroundStations
      tags: [Intelligence]
      responses:
        '200':
          description: List of ground stations
          content:
            application/json:
              schema:
                type: object
                properties:
                  stations:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroundStation'
                  count:
                    type: integer

  /planning/analyze:
    post:
      summary: Analyze feasibility
      description: Evaluate orbital compute feasibility for your workload
      operationId: analyzeFeasibility
      tags: [Planning]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workload, compute_tflops]
              properties:
                workload:
                  type: string
                  enum: [ai_inference, ai_training, data_processing, edge_compute, storage]
                compute_tflops:
                  type: number
                storage_tb:
                  type: number
                bandwidth_gbps:
                  type: number
                latency_sla_ms:
                  type: number
                availability_sla:
                  type: number
                region:
                  type: string
      responses:
        '200':
          description: Feasibility analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeasibilityResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /planning/thermal:
    post:
      summary: Simulate thermal
      description: Model heat rejection and thermal cycles in orbit
      operationId: simulateThermal
      tags: [Planning]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orbit, power_dissipation_w, radiator_area_m2]
              properties:
                orbit:
                  type: string
                power_dissipation_w:
                  type: number
                radiator_area_m2:
                  type: number
                internal_mass_kg:
                  type: number
                radiator_emissivity:
                  type: number
                  default: 0.9
                absorptivity:
                  type: number
                  default: 0.3
      responses:
        '200':
          description: Thermal simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThermalResult'

  /planning/latency:
    post:
      summary: Simulate latency
      description: Predict network latency based on orbital geometry
      operationId: simulateLatency
      tags: [Planning]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orbit, ground_stations]
              properties:
                orbit:
                  type: string
                ground_stations:
                  type: array
                  items:
                    type: string
                include_isl:
                  type: boolean
                  default: false
                constellation_size:
                  type: integer
                user_location:
                  type: object
                  properties:
                    lat:
                      type: number
                    lon:
                      type: number
      responses:
        '200':
          description: Latency simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatencyResult'

  /satellites:
    get:
      summary: List satellites
      description: Query the satellite catalog with filters
      operationId: listSatellites
      tags: [Intelligence]
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [PAYLOAD, ROCKET_BODY, DEBRIS]
        - name: operator
          in: query
          schema:
            type: string
        - name: constellation
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of satellites
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Satellite'
                  has_more:
                    type: boolean
                  cursor:
                    type: string

  /satellites/{satellite_id}:
    get:
      summary: Get satellite
      description: Retrieve information about a specific satellite
      operationId: getSatellite
      tags: [Intelligence]
      parameters:
        - name: satellite_id
          in: path
          required: true
          schema:
            type: string
          description: NORAD ID or common name
      responses:
        '200':
          description: Satellite details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Satellite'
        '404':
          description: Satellite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /satellites/{satellite_id}/position:
    get:
      summary: Get satellite position
      description: Get current position of a satellite
      operationId: getSatellitePosition
      tags: [Intelligence]
      parameters:
        - name: satellite_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Current position
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'
        '404':
          description: Satellite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /satellites/{satellite_id}/orbit:
    get:
      summary: Get satellite orbit
      description: Get orbital parameters of a satellite
      operationId: getSatelliteOrbit
      tags: [Intelligence]
      parameters:
        - name: satellite_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Orbital parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orbit'
        '404':
          description: Satellite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /satellites/{satellite_id}/visibility:
    get:
      summary: Get ground station visibility
      description: Check which ground stations can currently see the satellite
      operationId: getSatelliteVisibility
      tags: [Intelligence]
      parameters:
        - name: satellite_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Visibility from all ground stations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibilityResult'
        '404':
          description: Satellite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /satellites/{satellite_id}/feasibility:
    get:
      summary: Analyze compute feasibility
      description: Evaluate if a satellite's orbit is suitable for orbital compute workloads
      operationId: getSatelliteFeasibility
      tags: [Planning]
      parameters:
        - name: satellite_id
          in: path
          required: true
          schema:
            type: string
        - name: power_w
          in: query
          schema:
            type: number
            default: 100
          description: Workload power requirement in watts
        - name: thermal_w
          in: query
          schema:
            type: number
            default: 30
          description: Thermal dissipation requirement in watts
      responses:
        '200':
          description: Feasibility analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SatelliteFeasibilityResult'
        '404':
          description: Satellite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /satellites/{satellite_id}/latency:
    get:
      summary: Analyze communication latency
      description: Calculate latency between satellite and a ground observer
      operationId: getSatelliteLatency
      tags: [Planning]
      parameters:
        - name: satellite_id
          in: path
          required: true
          schema:
            type: string
        - name: lat
          in: query
          schema:
            type: number
            default: 37.7749
          description: Observer latitude
        - name: lon
          in: query
          schema:
            type: number
            default: -122.4194
          description: Observer longitude
      responses:
        '200':
          description: Latency analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SatelliteLatencyResult'
        '404':
          description: Satellite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /satellites/{satellite_id}/passes:
    get:
      summary: Predict passes
      description: Predict when satellite will pass over an observer location
      operationId: getSatellitePasses
      tags: [Intelligence]
      parameters:
        - name: satellite_id
          in: path
          required: true
          schema:
            type: string
        - name: lat
          in: query
          required: true
          schema:
            type: number
          description: Observer latitude
        - name: lon
          in: query
          required: true
          schema:
            type: number
          description: Observer longitude
        - name: hours
          in: query
          schema:
            type: integer
            default: 24
            maximum: 168
          description: Prediction window in hours
      responses:
        '200':
          description: Pass predictions
          content:
            application/json:
              schema:
                type: object
                properties:
                  satellite_id:
                    type: string
                  observer:
                    type: object
                    properties:
                      lat:
                        type: number
                      lon:
                        type: number
                  prediction_window_hours:
                    type: integer
                  passes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pass'
                  count:
                    type: integer
        '404':
          description: Satellite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /conjunctions:
    get:
      summary: Get conjunctions
      description: Analyze potential collisions between space objects
      operationId: getConjunctions
      tags: [Intelligence]
      parameters:
        - name: satellite
          in: query
          required: true
          schema:
            type: string
        - name: threshold_km
          in: query
          schema:
            type: number
            default: 5.0
        - name: days_ahead
          in: query
          schema:
            type: integer
            default: 7
            maximum: 14
        - name: min_probability
          in: query
          schema:
            type: number
      responses:
        '200':
          description: List of conjunctions
          content:
            application/json:
              schema:
                type: object
                properties:
                  conjunctions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conjunction'
                  screening_window:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                      end:
                        type: string
                        format: date-time
                  total_count:
                    type: integer

  /patterns:
    get:
      summary: Get patterns
      description: Detect anomalies and maneuvers in satellite behavior
      operationId: getPatterns
      tags: [Intelligence]
      parameters:
        - name: satellite
          in: query
          required: true
          schema:
            type: string
        - name: lookback_days
          in: query
          schema:
            type: integer
            default: 30
            maximum: 365
        - name: type
          in: query
          schema:
            type: string
            enum: [maneuver, anomaly, proximity, operational]
        - name: min_confidence
          in: query
          schema:
            type: number
            default: 0.7
      responses:
        '200':
          description: List of detected patterns
          content:
            application/json:
              schema:
                type: object
                properties:
                  satellite:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                  patterns:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pattern'
                  analysis_window:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                      end:
                        type: string
                        format: date-time
